:root {
    --primary: #003566;
    --secondary: #FFC300;
    --accent: #003F88;
    --dark: #001D3D;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

.star {
    width: 32px;
    height: 32px;
}