body {
    margin-top: 60px;
}


.fa-search {
    color: white;
}

.topnav {
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: #003566;
  }

.form-control .form-group .has-search {
    height: 50px;
}
