body {
  margin-bottom: 60px;
}

.bottomnav {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #003566;
  text-align: center;
}

.bottomnav a {
  color: white;
}

.bottomnav a:hover {
  color: var(--secondary);
}